<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcases.Demo1_GET_Request"/>
      <class name="com.testcases.Demo1_DELETE_Request"/>
      <class name="com.testcases.Demo1_POST_Requests"/>
      <class name="com.testcases.Demo1_PUT_Requests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
